<!DOCTYPE html>
<html lang="en" xmlns:height="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>공모전ㆍ대외활동</title>
    {# bootstrap CDN #}

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="http://ksp.multicampus.com/kspace/KOREAN/CKO/css/cko.css" type="text/css" charset="UTF-8" media="all">
    <link rel="stylesheet" href="http://ksp.multicampus.com/kspace/KOREAN/CKO/css/custom.css" type="text/css" charset="UTF-8" media="all">
    <link rel="stylesheet" href="http://ksp.multicampus.com/kspace/KOREAN/CKO/css/english.css" type="text/css" charset="UTF-8" media="all">
    <link rel="stylesheet" href="http://ksp.multicampus.com/kspace/KOREAN/CKO/css/search.css" type="text/css" charset="UTF-8" media="all">
    <link rel="stylesheet" href="http://ksp.multicampus.com/kspace/KOREAN/CKO/css/support.css" type="text/css">
    <link rel="stylesheet" href="http://ksp.multicampus.com/kspace/KOREAN/CKO/css/wizard_v1.css">
    <link rel="stylesheet" href="http://ksp.multicampus.com/kspace/KOREAN/CKO/css/kspace_2018V2.css">
    <link rel="stylesheet" type="text/css" href="http://ksp.multicampus.com/kspace/KOREAN/CKO/css/gnb.css">
	<link rel="stylesheet" href="http://ksp.multicampus.com/kspace/KOREAN/CKO/css/myspace_type2.css" type="text/css" charset="UTF-8" media="all">
	<link rel="stylesheet" href="http://ksp.credu.com/multicam/css/BL00002.css" type="text/css" charset="UTF-8" media="all"> <!-- c_addcss -->


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
</head>
<body>
{% include '/include/top_menu.html' %}
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8">
                <h2 style="margin-top:60px">공모전, 대외활동</h2>
            <div class="container" style="margin-top:30px">
                <div class="mainWidth">
                    <div class="crdBoxWrap secMrg">
                        <div class="crdBox box1" style="margin-left: 0px;">
                            <h2 class="sec_tit">
                                공모전
                            </h2>
                        <div class="crdImgBox">
                            <a href="http://linkareer.com/activity/19120?utm_source=cafe_specup&utm_medium=weeklist_contest">
                                <img src="{{url_for('static', filename='image/공모전1.jpg')}}" alt="Q26220">
                            </a>
                        </div>
                            <a href="http://linkareer.com/activity/19120?utm_source=cafe_specup&utm_medium=weeklist_contest">
                                <p align="center">2019 콘텐츠 메이커톤 <br>~2.20 자정</p>
                            </a>
                        </div>

                        <div class="crdBox box1">
                            <h2 class="sec_tit">
                            </h2>
                        <div class="crdImgBox">
                            <a href="http://linkareer.com/activity/19152?utm_source=cafe_specup&utm_medium=weeklist_contest">
                                <img  src="{{url_for('static', filename='image/공모전2.jpg')}}" alt="Q26220">
                            </a>
                        </div>
                            <a href="http://linkareer.com/activity/19152?utm_source=cafe_specup&utm_medium=weeklist_contest">
                                <p align="center">2019 오픈 블록체인 해커톤<br>~3.4</p>
                            </a>
                        </div>

                        <div class="crdBox box1">
                            <h2 class="sec_tit">
                            </h2>
                        <div class="crdImgBox">
                            <a href="http://linkareer.com/activity/19198?utm_source=cafe_specup&utm_medium=weeklist_contest">
                                <img  src="{{url_for('static', filename='image/공모전3.jpg')}}" alt="Q26220"></a>
                        </div>
                            <a href="http://linkareer.com/activity/19198?utm_source=cafe_specup&utm_medium=weeklist_contest">
                                <p align="center">슈나이더일렉트릭<br>이공계대학생 다 모여라!<br>~3.22</p>
                            </a>
                        </div>


                        <div class="crdBox box1" style="margin-right: 0px;">
                            <h2 class="sec_tit">
                        </h2>
                        <div class="crdImgBox">
                            <a href="http://linkareer.com/activity/18812?utm_source=cafe_specup&utm_medium=weeklist_contest">
                                <img  src="{{url_for('static', filename='image/공모전4.jpg')}}" alt="Q26220"></a>
                        </div>
                            <a href="http://linkareer.com/activity/18812?utm_source=cafe_specup&utm_medium=weeklist_contest">
                                <p align="center">2019 ICT 프로젝트 공모전<br>~3.31</p>
                            </a>
                        </div>
                    </div>

                    <div class="crdBoxWrap secMrg">

                        <div class="crdBox box1" style="margin-left: 0px;">
                        <h2 class="sec_tit">
                        </h2>
                            <div class="crdImgBox">
                                <a href="http://linkareer.com/activity/19291?utm_source=cafe_specup&utm_medium=weeklist_contest">
                                    <img src="{{url_for('static', filename='image/공모전5.jpg')}}" alt="Q26220"></a>
                            </div>
                            <a href="http://linkareer.com/activity/19291?utm_source=cafe_specup&utm_medium=weeklist_contest">
                                <p align="center">5G 아이디어 공모전<br>~3.10</p>
                            </a>
                        </div>


                        <div class="crdBox box1">
                        <h2 class="sec_tit">
                        </h2>
                            <div class="crdImgBox">
                                <a href="http://linkareer.com/activity/18942?utm_source=cafe_specup&utm_medium=weeklist_contest">
                                    <img  src="{{url_for('static', filename='image/공모전6.jpg')}}" alt="Q26220"></a>
                            </div>
                            <a href="http://linkareer.com/activity/18942?utm_source=cafe_specup&utm_medium=weeklist_contest">
                                <p align="center">삼성전자 갤럭시 스토어<br>아이디어 공모전<br>~2.25</p>
                            </a>
                        </div>


                        <div class="crdBox box1">
                        <h2 class="sec_tit">
                        </h2>
                            <div class="crdImgBox">
                                <a href="http://linkareer.com/activity/19179?utm_source=cafe_specup&utm_medium=weeklist_contest">
                                    <img  src="{{url_for('static', filename='image/공모전7.jpg')}}" alt="Q26220"></a>
                            </div>
                            <a href="http://linkareer.com/activity/19179?utm_source=cafe_specup&utm_medium=weeklist_contest">
                                <p align="center">보험판매 및 필요성 환기<br>VR시나리오 공모전<br>~3.8 오전 11시</p>
                            </a>
                        </div>


                        <div class="crdBox box1" style="margin-right: 0px;">
                        <h2 class="sec_tit">
                        </h2>
                            <div class="crdImgBox">
                                <a href="http://linkareer.com/activity/18976?utm_source=cafe_specup&utm_medium=weeklist_contest">
                                    <img  src="{{url_for('static', filename='image/공모전8.jpg')}}" alt="Q26220"></a>
                            </div>
                            <a href="http://linkareer.com/activity/18976?utm_source=cafe_specup&utm_medium=weeklist_contest">
                                <p align="center">2019 맵 콘테스트 공모전<br>~3.19</p>
                            </a>
                        </div>
                    </div>

                    <div class="crdBoxWrap secMrg">
                        <div class="crdBox box1" style="margin-left: 0px;">
                        <h2 class="sec_tit">
                            대외활동
                        </h2>
                            <div class="crdImgBox">
                                <a href="https://cafe.naver.com/lottesamkang/10795">
                                    <img  src="{{url_for('static', filename='image/대외활동1.jpg')}}" alt="Q26220"></a>
                            </div>
                            <a href="https://cafe.naver.com/lottesamkang/10795">
                                <p align="center">[롯데푸드]대학생</p>
                            </a>
                        </div>


                        <div class="crdBox box1">
                        <h2 class="sec_tit">
                        </h2>
                            <div class="crdImgBox">
                                <a href="https://cafe.naver.com/specup/5735665">
                                    <img  src="{{url_for('static', filename='image/대외활동1.1.jpg')}}" alt="Q26220"></a>
                            </div>
                            <a href="https://cafe.naver.com/specup/5735665">
                                <p align="center">한국생명공학연구원<br>제 6기 대학생 기자단 모집</p>
                            </a>
                        </div>


                        <div class="crdBox box1">
                        <h2 class="sec_tit">
                        </h2>
                            <div class="crdImgBox">
                                <a href="https://blog.naver.com/nsi_blog/221448360897">
                                    <img  src="{{url_for('static', filename='image/대회활동2.jpg')}}" alt="Q26220"></a>
                            </div>
                            <a href="https://blog.naver.com/nsi_blog/221448360897">
                                <p align="center">토론학교 오피니언리더 10기 모집</p>
                            </a>
                        </div>


                        <div class="crdBox box1" style="margin-right: 0px;">
                        <h2 class="sec_tit">
                        </h2>
                            <div class="crdImgBox">
                                <a href="https://www.premf.kr/">
                                    <img src="{{url_for('static', filename='image/대외활동3.jpg')}}" alt="Q26220"></a>
                            </div>
                            <a href="https://www.premf.kr/">
                                <p align="center">KT 모바일 퓨처리스트 17기 모집</p>
                            </a>
                        </div>

                    </div>

                    <div class="crdBoxWrap secMrg">
                        <div class="crdBox box1" style="margin-left: 0px;">
                        <h2 class="sec_tit">
                        </h2>
                            <div class="crdImgBox">
                                <a href="https://cafe.naver.com/specup/5724159"><img src= "{{url_for('static', filename='image/대외활동4.jpg')}}" alt="Q26220"></a>
                            </div>
                            <a href="https://cafe.naver.com/specup/5724159">
                                <p align="center">NHN고도 콘텐츠 크리에이터<br>2기 모집</p>
                            </a>
                        </div>


                        <div class="crdBox box1">
                        <h2 class="sec_tit">
                        </h2>
                            <div class="crdImgBox">
                                <a href="http://www.facademy.co.kr/"><img src="{{url_for('static', filename='image/대외활동5.jpg')}}" alt="Q26220"></a>
                            </div>
                            <a href="http://www.facademy.co.kr/">
                                <p align="center">금융사관학교 34기 모집</p>
                            </a>
                        </div>


                        <div class="crdBox box1">
                        <h2 class="sec_tit">
                        </h2>
                            <div class="crdImgBox">
                                <a href="http://linkareer.com/activity/19114?utm_source=cafe_specup&utm_medium=weeklist_activity&utm_campaign=weekly_list">
                                    <img  src="{{url_for('static', filename='image/대회활동6.jpg')}}" alt="Q26220"></a>
                            </div>
                            <a href="http://linkareer.com/activity/19114?utm_source=cafe_specup&utm_medium=weeklist_activity&utm_campaign=weekly_list">
                                <p align="center">[삼성물산 건설부문]<br>주니어건설 아카데미 서포터즈</p>
                            </a>
                        </div>


                        <div class="crdBox box1" style="margin-right: 0px;">
                        <h2 class="sec_tit">
                        </h2>
                            <div class="crdImgBox">
                                <a href="http://linkareer.com/activity/19365?utm_source=cafe_specup&utm_medium=weeklist_activity&utm_campaign=weekly_list">
                                    <img  src="{{url_for('static', filename='image/대외활동7.jpg')}}" alt="Q26220"></a>
                            </div>
                            <a href="http://linkareer.com/activity/19365?utm_source=cafe_specup&utm_medium=weeklist_activity&utm_campaign=weekly_list">
                                <p align="center">2019 따뜻한 동행 봉사단 모집</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
